# Node modules
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
temp/